
#TopPanel {
      background-color: rgba(25,28,32,100%);  /* rgba(49,55,54,100%); 85%  */ 
      border-bottom : 0px inset rgba(37,37,37,0%); /* rgba(44,31,25,40%); */
      padding: 0 10 0 10; 
      border-bottom: 0 outset transparent;
} 

/*Buttons */

QAbstractButton { 
/*       padding: 0 16 0 16;  */
      border-radius: 0px; 
      border: 0px; 
}

/* Setting fonts for most of the applets */

.BE--GMenu QMenuBar, .BE--Session, #infocenter, .BE--Task, .BE--Clock, #pager { 
      font-size: 10pt;
      font-family: HelveticaNeue, Liberation Sans, Nimbus Sans, Arimo, Roboto; /* Chosen font & fallback alternatives */
      font-weight: normal;
      color: rgba(255,255,255,255);
}

.BE--Session, #infocenter, .BE--Clock, #pager, .BE--SysTray, .BE--Volume, .BE--MediaTray, #Time {
      background: transparent;
}

.BE--Run QSizeGrip, *:menu-indicator { 
      image:none; /* this removes the resize arrow and the one for drop-down menus */
}

/* Various Applets &  fixes */

.BE--GMenu QMenuBar { 
      padding: 2 0 4 0; 
      spacing: 10; 
      background-color: rgba(49,54,59,0%); /* Fix for some Qt Styles */
     /* margin-bottom: 1px;*/ /* distance of the popup menu from the label */ 
}

/* Preventive measure to ensure globalmenu will not disappear for other users */ 

.BE--Panel QMenuBar::item { 
      padding: 3 4 4 4; 
      margin: -1 0 -1 0; 
}

/* Top Panel hovered applets */

.BE--GMenu QMenuBar:item:selected, .BE--GMenu QMenuBar:item:hover, .BE--Clock:hover, #starter:hover, .BE--Session:hover, #search:hover, #control:hover, .BE--Battery:hover, .BE--Device:hover, #infocenter:hover,   #klipper:hover, .BE--SysTray:hover, .BE--Volume:hover { 
      background-color: palette(highlight); /* #48B3F8 before */
      opacity: 0.5;
      background-image: url("${base}/style.css.d/background-images/noise2.png");
      background-repeat: repeat-x;
      background-clip: border;
      font-weight: bold;
}

/* Systray Area */ 

.BE--SysTray { 
      margin:  0 0 0 0; 
      padding: 0 6 0 0; 
}

.BE--Session { 
      margin: 0 0 0 0; 
      padding: 0 5 0 5;
      /*width: 22px;*/
}

.BE--Volume, #klipper { 
      padding: 2 0 3 0; 
      margin: 0 4 0 4; 
      max-width:18px; 
      max-height: 18px;
}

#control { 
      padding: 2 5 2 5; 
      margin: 0 0 0 0; 
}

#search {
     padding: 0 3 0 3;
     margin-right: 0px;
}

.BE--MediaTray { /* Containment widget */ 
      margin: 0 4 0 4; 
      padding: -3 0 -3 0;  
}

.BE--Device { /* Each device in .BE--MediaTray */
      max-width: 18px; 
      max-height: 18px; 
      padding: 2 5 3 5;  /* 2 5 2 5; */
/*      margin-top: 1px;
      margin-bottom: 1px;*/
}

/* Battery widget: still to be fixed!! */ 

/* color: the background and border of battery 
 * selection-background-color: background that fills the battery with charge stat */ 

.BE--Battery {
      margin: 0 0 0 0;
      padding: 5 4 5 4;
}

.BE--Battery[charging="false"] {
      color: rgba(244,244,244,95%);
}

.BE--Battery[charging="true"] {
      color: rgba(244,244,244,100%);
      /*background-image: url("${base}/style.css.d/background-images/charge.png");
      background-repeat: no-repeat;
      background-position: center center;*/
}

.BE--Battery[charge="high"] {
      selection-background-color: rgba(244,244,244,100%); /* (72,179,248,100%) before */
/*       image: url("${base}/style.css.d/background-images/charge.png"); */
}

.BE--Battery[charge="mid"] {
      color: rgba(244,244,244,100%);
      selection-background-color: rgb(246,116,0);
}

.BE--Battery[charge="low"] {
      color: rgba(244,244,244,100%);
      selection-background-color: rgb(247,69,60);
}

/* Desktop icons */ 

.BE--DeskIcon {
     background:  rgba(25,28,32,95%);
     border: 1px transparent;
     border-radius: 6px;
     padding: 4 4 4 4;
}

.BE--DeskIcon:hover {
      border: 1px solid palette(highlight);
      border-radius: 6px;
      padding: 4 4 4 4;
      /*NOTICE! Following values are totally wrong. Sorta hack to use palette and get transparency */
/*       background: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.7, fy: -0.4, radius: 2.5, stop: 0 palette(highlight), stop: 1 rgba(37,37,37,06%)); */
      /*color: palette(highlighttext); */ /* Doesn't match the label, need to fix this */
}

.BE--DeskIcon QLabel {
      color:rgba(253,253,253,250);
      font-size: 8pt;
      font-family: HelveticaNeue, Liberation Sans, Nimbus Sans, Arimo, Roboto;
      font-weight: bold;
}

QLabel {
      text-decoration: none;
      outline: none;
}

/* Runner */

#starter { /* Button calling BE::Run */ 
      margin: 0px;
      padding: 0 5 0 5;
}

.BE--Run  {
      min-height: 610px;
      min-width: 400px;
}

.BE--Run QLineEdit {
      /*border-radius: 3px;
      border: 0.5px inset rgb(77,77,77);
      padding: 2 0 2 0;*/
}

.BE--Run QTreeView {
      font-size: 8.5pt;
      font-family: HelveticaNeue, Liberation Sans, Nimbus Sans, Arimo, Roboto;
      color:rgba(253,253,253,90%); /* rgba(25,28,32,90%); if using a light colorscheme */
}

/* WmCtrl buttons */

#close, #min, #max { 
      color: #F2F2F4;
      padding: 3 0 3 0;
      margin: 3 -15 3 -15; 
      width: 16px;
      height: 16px;
}