/* Pager */

.BE--Pager {
  background-color:transparent;
  padding: 4 8 0 0;
}

.BE--Pager QToolButton {
  background-image: url("${base}/background-images/pager-check.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 5 0 5;
  border: none;
  color: transparent;
  max-width: 8px;
}

.BE--Pager QToolButton:checked {
  background-image: url("${base}/background-images/pager-focus.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: transparent;
  max-width: 12px;
}

.BE--Pager QToolButton:hover {
  background-image: url("${base}/background-images/pager-hover.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: transparent;
  max-width: 12px;
}
