/* Vertex by Hombremaledicto. This is the 
 * main CSS theme file, with panels config, general fixes
 * and font management. Applet-specific parts have been 
 * moved to the /Themes/Vertex/style.css.d/ directory */


/* Panels */

#TopPanel { 

      background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(60,61,63,100%), stop:1.0 rgba(58,59,61,100%));      
      border-bottom: 0.5px solid rgba(20,20,20,80%);
      padding: 1 0 0 5;
} 

#WunderBar {
      background-color: rgba(10,22,44,60);
      border-right: 0.5px outset rgba(255,255,255,90.5);
      margin: -1 0 -1 0; 
      padding: 25 0 3 0;
}

/* Fix for buttons and toolboxes */

QAbstractButton { padding: 0  16 0 16; border-radius: 8px; }
/*QToolBox { color: #414244; background-color: #EFEFF1; }*/


/* Various Applets &  fixes IMPORTANT! */

.BE--GMenu QMenuBar {  padding: 0 0 0 -8; spacing: 15; }
.BE--SysTray { margin:  2 0 1 0; padding: 1 12 4 0; }
.BE--Session { margin: 2 4 2 0; padding:0 0 0 0;  font-weight: bold; }
.BE--Volume { padding: 2 4 0 0; margin: 0px; max-width:22px; max-height: 16px;}
.BE--InfoCenter { padding: -2 1 -2 0; }
.BE--MediaTray { margin: 0 8 0 4; padding: 0 0 0 0; }
.BE--Device { max-width: 22px; max-height: 16px; spacing: -7; padding: 2 2 0 2; }
.BE--GMenu QMenuBar, .BE--Clock, .BE--Session { font: 10pt Cantarell; }
.BE--Run QSizeGrip, *:menu-indicator { image:none; }
.BE--GMenu QMenuBar, .BE--Clock, .BE--Session, #infocenter  {
      color:  #F2F2F4; 
}


.BE--Battery {
      margin: 1 0 1 0;
      padding: 3 0 3 0;
      width: 64px;
      color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #ffffff, stop:1 #666666);
      selection-background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #A9FF0A, stop:0.5 #FFF300, stop:0.9 #FF8C08, stop:1 #FF0037);
}

#close, #min, #max { 
      color: #F2F2F4;
      margin: 1 -15 1 -15; 
      width: 16px;
      height: 16px;
}